<div class="container">
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead class="table-dark">
                <tr>
                    <th>N°</th>
                    <th></th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="..." alt="..."></td>
                    <td>Pantalon</td>
                    <td>$250000</td>
                    <td>2</td>
                    <td>500000</td>
                    <td><button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container-xxl text-end">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <th scope="row">subtotal $50000</th>
        </tbody>

    </table>
</div>