<div class="fondo-modal-info animated fadeIn fast"
[class.oculto]="modalInfoService.ocultarModal">
  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Cargar imagen</h4>
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="cerrarModal()">
          </button>
        </div>
        <div class="modal-body">
          <h3>Seleccione una imagen</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">
            Cancelar
          </button>
          <button type="button" class="btn btn-primary">Actualizar foto</button>
        </div>
      </div>
    </div>
  </div>
</div>
