<div class="fondo-modal-info animated fadeIn fast"
[class.oculto]="modalInfoService.ocultarModal">
  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{modalInfoService.name}}</h1>
          <button
            type="button"
            class="btn-close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="cerrarModal()">
          </button>
        </div>
        <div class="modal-body">
          <h3>CLP ${{modalInfoService.precio}}</h3>
          <img *ngIf="!imgTemp" [src]="modalInfoService.img" class="rounded img-thumbnail">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">
            Cancelar
          </button>
          <button type="button" class="btn btn-primary">Actualizar foto</button>
        </div>
      </div>
    </div>
  </div>
</div>
