<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <span class="text-danger">e-commerce Angular</span>
    </a>

    <!-- boton del menu -->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- elementos del menu colapsable -->

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="./agregar">Agregar Producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="./listado">Listado de Productos</a>
        </li>
      </ul>
      <hr class="d-md-none text-white-50">

      <!-- boton Informacion -->

      <form class="d-flex">
        <div class="dropdown">
          
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-user"></i>
            {{usuario.name}}
          </button>
          <ul class="dropdown-menu dropdown-menu-dark ">
            <li>
              <button class="dropdown-item" type="button">Cuenta</button>
            </li>
            <li>
                <button class="dropdown-item" type="submit" (click)="logout()">Salir</button>
            </li>
          </ul>
        </div>
        
        &nbsp;
        <button type="button" class="btn btn-success position-relative">
          <i class="fa-solid fa-cart-shopping">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              1
              <span class="visually-hidden">unread messages</span>
            </span>
          </i>
        </button>
      </form>
    </div>
  </div>
</nav> 

<div class="container-fluid" style="margin-top: 15px;">
    <router-outlet></router-outlet>
</div>

